 <table class="table">
        <thead class="thead-dark" >
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of user;odd as o; even as e">
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.company.name}}</td>
          </tr>
          
        </tbody>
      </table>
      
      

